@import "tailwindcss";

/* .light {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
}

.dark {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
} */

button {
  padding: 10px 16px;
  margin-top: 20px;
  cursor: pointer;
}
